{% extends 'base.html'%}

{% block jquery %}
<script>
    stripe.setPublishableKey('{{ stripe_pub }}')
  var form = document.getElementById('payment-form');
  
  form.addEventListener('submit', function(event) {
    event.preventDefault();
  
    stripe.createSource(card, user).then(function(result) {
      if (result.error) {
        // Inform the user if there was an error
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        // Send the source to your server
        stripeSourceHandler(result.source);
      }
    });
  });

  function stripeSourceHandler(source) {
    // Insert the source ID into the form so it gets submitted to the server
    var form = document.getElementById('payment-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeSource');
    hiddenInput.setAttribute('value', source.id);
    form.appendChild(hiddenInput);
  
    // Submit the form
    form.submit();
  }
</script>
{% endblock jquery %}

{% block content %}
    <h1>Current Total: {{ checkout.get_final_amount }}</h1>
    <!--address form-->
    {% if address_form %}
        <div class = 'col-sm-6 pull-right'>
            <h3>Add new address</h3>
            <form method = "POST" action="" id="payment-form">{% csrf_token %}
            {{ address_form.as_p }}
            <input type="submit" class = "btn btn-outline-secondary" value = "Add Address" />
            </form>
        </div>
    {% endif %}


    <form method="POST" action="" id="payment-form">{% csrf_token %}
        <!--Current Address-->
        {% if current_addresses %}
            <div class = 'col-sm-6'>
                <h3>Saved Address</h3>
                <!--get every address that is added-->
                {% for address in current_addresses %}
                    <input type="radio" name = "saved_address" value="{{ address_id }}"/>{{ address.get_address }} <br/>
                    {% endfor %}
            </div>
        {% endif %}

            <!--Credit card information-->
            <div class = 'col-sm-6'>
                <h3>Credit Info</h3>
                <span class = "payment-errors"></span>
                <div class = "form-row">
                    <label>
                        <!--Card Number-->
                        <span>Card Number</span>
                        <input type="text" size="20" data-stripe = "number" />
                    </label>
                </div>

                <div class = "form-row">
                    <label>
                        <!--CVC-->
                        <span>CVC</span>
                        <input type="text" size="4" data-stripe = "cvc" />
                    </label>
                </div>

                <div class = "form-row">
                    <label>
                        <!--Expiration date-->
                        <span>Expiration (MM/YY)</span>
                        <input type="text" size="4" data-stripe = "exp-month" />
                    </label>
                    <label>
                        <span> / </span>
                        <input type="text" size="4" data-stripe = "exp-year" />
                    </label>
                </div>
                <button type="submit">Submit Payment</button>
            </div>
            
    </form>
        
{% endblock content %}
